@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 기본 antd 스타일 */
.ant-layout-header {
  background-color: #fff;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* 추가 스타일 */
.nba-01 {
  width:  100%;
}

.search-box-parent {
  background: url(img/nba-ball-general-view-iso.jpg);
    width: 100%;
    height: 1080px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.search-box {
  position: absolute;
  width: 1057px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 35px 26px -21px rgba(0, 0, 0, 0.0008);
  border-radius: 56px;
}

