/* body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
  } */
  
.wrapper {
width: 100%;
padding-bottom: 60px;
position: relative;
display: flex;
justify-content: center;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
position: absolute;
left: -9999px;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
position: relative;
padding-left: 12px;
padding-right: 12px;
letter-spacing: 3px;
cursor: pointer;
line-height: 30px;
font-size: 15px;
text-transform: uppercase;
font-weight: 500;
/* color: #fff; */
margin-right: 10px;
margin-left: 10px;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
z-index: 0;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
content: "";
border-radius: 2px;
height: 20px;
padding: 5px;
background-color: #e74c3c;
position: absolute;
bottom: 0;
left: 6px;
top: -4px;
z-index: -1;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

[type=radio]:not(:checked) + label:after {
opacity: 0;
width: 0;
}

[type=radio]:checked + label:after {
opacity: 1;
width: calc(100% - 24px);
}

.checkbox-all:checked + label:after,
.checkbox-all:not(:checked) + label:after {
background-color: hotpink;
}

.checkbox-guard:checked + label:after,
.checkbox-guard:not(:checked) + label:after {
background-color: red;
}

.checkbox-guard-forward:checked + label:after,
.checkbox-guard-forward:not(:checked) + label:after {
background-color: orange;
}

.checkbox-forward:checked + label:after,
.checkbox-forward:not(:checked) + label:after {
background-color: yellow;
}

.checkbox-forward-guard:checked + label:after,
.checkbox-forward-guard:not(:checked) + label:after {
background-color: green;
}

.checkbox-forward-center:checked + label:after,
.checkbox-forward-center:not(:checked) + label:after {
background-color: blue;
}

.checkbox-center:checked + label:after,
.checkbox-center:not(:checked) + label:after {
background-color: purple;
}

.checkbox-center-forward:checked + label:after,
.checkbox-center-forward:not(:checked) + label:after {
background-color: pink;
}

.checkbox-all:checked + label {
margin-left: 17px;
}

.seperator {
width: 100%;
height: 30px;
}

.cards {
display: flex;
flex-wrap: wrap;
width: 800px;
justify-content: space-between;
margin: auto;
}


.project {
border-radius: 4px;
box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
-webkit-transition: all 0.2s linear;
transition: all 0.3s linear;
position:relative;
}

.project > span {
    position: absolute;
    top: 145px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.project.guard {
border: 3px solid red;
}

.project.guard-forward {
border: 3px solid orange;
}

.project.forward {
border: 3px solid yellow;
}

.project.forward-guard {
border: 3px solid green;
}

.project.forward-center {
border: 3px solid blue;
}

.project.center {
    border: 3px solid purple;
}
.project.center-forward {
    border: 3px solid pink;
}



.project.guard,
.project.guard-forward,
.project.forward,
.project.forward-guard,
.project.forward-center,
.project.center,
.project.center-forward
 {
opacity: 0;
transform: scale(0);
padding: 0;
margin: 0;
visibility: hidden;
border-width: 0;
}

.each-card {
    min-width: calc(25%);
}


.checkbox-all:checked ~ .cards .project.guard,
.checkbox-all:checked ~ .cards .project.guard-forward,
.checkbox-all:checked ~ .cards .project.forward,
.checkbox-all:checked ~ .cards .project.forward-guard,
.checkbox-all:checked ~ .cards .project.forward-center,
.checkbox-all:checked ~ .cards .project.center,
.checkbox-all:checked ~ .cards .project.center-forward,
.checkbox-guard:checked ~ .cards .project.guard,
.checkbox-guard-forward:checked ~ .cards .project.guard-forward,
.checkbox-forward:checked ~ .cards .project.forward,
.checkbox-forward-guard:checked ~ .cards .project.forward-guard,
.checkbox-forward-center:checked ~ .cards .project.forward-center,
.checkbox-center:checked ~ .cards .project.center,
.checkbox-center-forward:checked ~ .cards .project.center-forward {
opacity: 1;
min-height: 140px;
min-width: calc(25% - 28px);
margin: 20px 10px 45px 10px;
visibility: visible;
transform: scale(1);
border-width: 3px;
}


.collapes-card {
    width: 180px;
    margin: auto;
}

.collapes-card > div > div >p:last-child {
    margin-bottom: 0px;
}
@media only screen and (max-width: 650px) {
.container {
    width: 100%;
}

label {
    display: block;
}

.cards {
    flex-direction: column;
    width: auto;
}
}


.bg-size {
    background-size: 100%;
    background-repeat: no-repeat;
}