/* body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: whitesmoke;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
  } */
  
.wrapper {
width: 100%;
padding-bottom: 60px;
position: relative;
display: flex;
justify-content: center;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
position: absolute;
left: -9999px;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
position: relative;
padding-left: 12px;
padding-right: 12px;
letter-spacing: 3px;
cursor: pointer;
line-height: 30px;
font-size: 15px;
text-transform: uppercase;
font-weight: 500;
/* color: #fff; */
margin-right: 10px;
margin-left: 10px;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
z-index: 0;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
content: "";
border-radius: 2px;
height: 20px;
padding: 5px;
background-color: #e74c3c;
position: absolute;
bottom: 0;
left: 6px;
top: -4px;
z-index: -1;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

[type=radio]:not(:checked) + label:after {
opacity: 0;
width: 0;
}

[type=radio]:checked + label:after {
opacity: 1;
width: calc(100% - 24px);
}

.checkbox-all:checked + label:after,
.checkbox-all:not(:checked) + label:after {
background-color: hotpink;
}

.checkbox-yellow:checked + label:after,
.checkbox-yellow:not(:checked) + label:after {
background-color: #f1c40f;
}

.checkbox-orange:checked + label:after,
.checkbox-orange:not(:checked) + label:after {
background-color: #ff932b;
}

.checkbox-blue:checked + label:after,
.checkbox-blue:not(:checked) + label:after {
background-color: #64e1fe;
}

.checkbox-green:checked + label:after,
.checkbox-green:not(:checked) + label:after {
background-color: #6edbbe;
}

.checkbox-red:checked + label:after,
.checkbox-red:not(:checked) + label:after {
background-color: #e75139;
}

.checkbox-all:checked + label {
margin-left: 17px;
}

.seperator {
width: 100%;
height: 30px;
}

.cards {
display: flex;
flex-wrap: wrap;
width: 800px;
justify-content: space-between;
}

.project {
border-radius: 4px;
box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
-webkit-transition: all 0.2s linear;
transition: all 0.3s linear;
}

.project.yellow {
border: 3px solid #f1c40f;
}

.project.orange {
border: 3px solid #ff932b;
}

.project.blue {
border: 3px solid #64e1fe;
}

.project.green {
border: 3px solid #6edbbe;
}

.project.red {
border: 3px solid #e75139;
}

.project.yellow,
.project.orange,
.project.blue,
.project.green,
.project.red {
opacity: 0;
transform: scale(0);
padding: 0;
margin: 0;
visibility: hidden;
border-width: 0;
}

.checkbox-all:checked ~ .cards .project.yellow,
.checkbox-all:checked ~ .cards .project.orange,
.checkbox-all:checked ~ .cards .project.blue,
.checkbox-all:checked ~ .cards .project.green,
.checkbox-all:checked ~ .cards .project.red,
.checkbox-yellow:checked ~ .cards .project.yellow,
.checkbox-orange:checked ~ .cards .project.orange,
.checkbox-blue:checked ~ .cards .project.blue,
.checkbox-green:checked ~ .cards .project.green,
.checkbox-red:checked ~ .cards .project.red {
opacity: 1;
min-height: 140px;
min-width: calc(22% - 28px);
padding: 0 10px;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
visibility: visible;
transform: scale(1);
border-width: 3px;
}

@media only screen and (max-width: 650px) {
.container {
    width: 100%;
}

label {
    display: block;
}

.cards {
    flex-direction: column;
    width: auto;
}
}